<body>
  
<!-- Content -->

<header>
<app-nav></app-nav>
  </header>
<app-encabezado></app-encabezado>

<app-acerca-de></app-acerca-de>

<app-experiencia></app-experiencia>

<app-educacion></app-educacion>

<app-aptitudes></app-aptitudes>

<app-logros></app-logros>

<!--    
<scrip src="front.js"></scrip>
aun no se para que es???
-->
<!-- 
<input type="file" id="file1" onchage="showFile1(this)">
-->
<script scr="ecma_brw.js"></script>
  <script>
  function foo() {
      undefined = 2; // bad ideal
      console.log(undefined*2);
      var newDiv = document.createElement("div");
      var newContent = document.createTextNode("Hola!¿Que tal?");
      newDiv.appendChild(newContent); // añade texto al div creado
      // añade el elemento creado y su contenido al DOM
      var currentDiv = document.getElementById("1");
      document.body.insertBefore(newDiv,currentDiv);
  }
  foo();
  
  //funcion que cambia el estilo del input a visible
  //toma el valor del texto del parrafo con id "text-acercade" lo muestra en consola
  function cambiar_parrafo(){
      document.getElementById("edit-acercade").style.display="block";
      let texto = document.getElementById("text-acercade").innerText;
      console.log(texto)
  };
  function myFunction2(valor){
      document.getElementById("text-acercade").innerText=valor;
  };

  function logMessage(message){
      console.log(message + "<br>");
  }
  //controla si se presiono un enter
      let textarea=document.getElementById("edit-acercade")
      textarea.addEventListener('keyup', (e) => {
      logMessage(`Key "${e.key}" released  [event: keyup]`);
      if (e.key=="Enter"){
          document.getElementById("edit-acercade").style.display="none"
      }
  });

  // carga el contenido de un archivo de texto y lo muestra en el parrafo
  function ShowFile(input) {
      let file = input.files[0];
      alert(`File name: ${file.name}`); // eg my.png
      alert(`Last modified: ${file.lastModified}`); // eG 1552830408824

      let reader = new FileReader();
      reader.readAsText(file);
      reader.onload = function() {
          console.log(reader.result);
          document.getElementById("text-acercade").innerText=reader.result;
      };
      reader.onerror = function() {
          console.log(reader.error);
      };
  }

</script>
</body>
<router-outlet></router-outlet>
