<body>
  
    <!-- Content -->
    
    <header>
    <app-nav></app-nav>
      </header>

      
    <app-encabezado></app-encabezado>
    
    <app-acerca-de></app-acerca-de>
    
    <app-experiencia></app-experiencia>
    
    <app-educacion></app-educacion>
    
    <app-aptitudes></app-aptitudes>
    
    <app-logros></app-logros>
    
    <app-proyecto></app-proyecto>
    
    <!--    
    <scrip src="front.js"></scrip>
    aun no se para que es???
    -->
    <!-- 
    <input type="file" id="file1" onchage="showFile1(this)">
    -->