<div class="card mat-card">
    <div id="experience">
        <div class="card-titles">
            <h2>Experiencia</h2>
            <div class="btn-edit"><a href="#" class="btn-right"><i class="bi bi-plus"></i></a></div>
        </div>
        <ul class="items-list">
            <li *ngFor="let experience of experienceList">
                <div class="data-container">
                    <a href="#">
                        <div class="logo-image-container"></div>
                        <div class="list-info"></div>
                            <div>
                                <h3>{{experience.name}}</h3>
                                <p>
                                    {{experience.company}} - 
                                    <span>{{experience.time}}</span>
                                </p>
                                <h4>{{experience.date}}</h4>
                                <h4>{{experience.ubication}}</h4>
                            </div>
                    </a>
                </div>
                <div class="data-control"></div>
                <div class="btn-edit"><a href="#" class="btn-right"><i class="bi bi-pencil-square"></i></a></div>
            </li>
        </ul>
    </div>

</div>