<div class="card mat-card">
    <div id="aptitudes">
        <div class="card-titles">
            <h2>Aptitudes y validaciones</h2>
            <div class="btn-edit"><a href="#" class="btn-right"><i class="bi bi-plus"></i></a></div>
        </div>
    </div>
        <div id="info-actions">
        <button type="button" class="btn btn-primary">Añadir una aptitud nueva</button>
        <button type="button" class="btn btn-light">Hacer un test de aptitudes</button>
        <div id="skill" class="about">
            <div class="progreso1">
            <div class="caja">
            <div class="shadow"></div>
            <div class="content">
            <div class="text-center">
            <h2>Liderazgo</h2>
            </div>
            <div class="percent" data-text="89%" style="--num: 89">
            <div class="dot"></div>
            <svg>
            <circle cx="70" cy="70" r="70"></circle>
            <circle cx="70" cy="70" r="70"></circle>
            </svg>
            </div>
            </div>
            </div>
        </div>
  </div>