<div class="card mat-card">
    <div id="proyecto">
        <div class="card-titles">
            <h2>Proyecto</h2>
            <div>
                <button *ngIf="usuarioLogueado" (click)="onOpenModal('add')"  type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#addProyectoModal" data-bs-whatever="@getbootstrap">Añadir proyecto</button>
              </div>
        </div>
      <!-- Modal añadir -->
      <div class="modal fade" id="addProyectoModal" tabindex="-1" aria-labelledby="addProyectoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addProyectoModalLabel">Añadir Proyecto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="altaproyecto(addForm)">
                <div class="form-group">
                      <label for="nombre"> Nombre Proyecto</label>
                      <input type="text" ngModel name="nombre" class="form-control" id="nombre" placeholder="Titulo" required/>
                    </div>
                    <div class="form-group">
                        <label for="descripcion"> Descripcion </label>
                        <input type="text" ngModel name="descripcion" class="form-control" id="descripcion" placeholder="descripcion" required/>
                      </div>
                      <div class="form-group">
                        <label for="url_proyecto"> Url de Proyecto</label>
                        <input type="text" ngModel name="url_proyecto" class="form-control" id="url_proyecto" placeholder="url_proyecto" required/>
                      </div>                    
                    <div class="form-group">
                      <label for="fecha_realizacion"> Fecha de realización</label>
                      <input type="date" ngModel name="fecha_realizacion" class="form-control" id="fecha_realizacion" placeholder="fecha_realizacion" required/>
                    </div>
                    <div class="form-group">
                      <label for="imagen_proyecto">URL de Imagen del Proyecto</label>
                      <input type="text" ngModel name="imagen_proyecto" class="form-control" id="imagen_proyecto" placeholder="imagen_proyecto">
                    </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-proyecto-form" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" (click)="altaproyecto(addForm)">Enviar</button>
            </div>
          </div>
        </div>
      </div>
  
    <section>
      <ul class="items-list">
        <li *ngFor="let proyecto of Proyectos">
          <div class="data-container">
            <div class="btn-group" role="group" aria-label="Basic example">
              <p><a *ngIf="usuarioLogueado" (click)="onOpenModal('edit', proyecto)" class="btn btn-primary tooltips" data-placement="top" data-toogle="tooltip" data-original-title="Edit" data-bs-target="#editProyectoModal" data-bs-toggle="modal">
              <i class="bi bi-pencil"></i></a>
              <span><a *ngIf="usuarioLogueado" (click)="onOpenModal('delete', proyecto)" class="btn btn-secondary tooltips" data-placement="top" data-toogle="tooltip" data-original-title="Delete" data-bs-target="#deleteProyectoModal" data-bs-toggle="modal">
              <i class="bi bi-trash"></i></a> </span> </p>
            </div>
            <div class="list-info"></div>
            <div id="info-img">
                <img class="profile-image" src="{{proyecto.url_proyecto}}" alt="Foto Proyecto">
            </div>
            <div>
              <h3>Nombre del Proyecto: {{proyecto.nombre}}</h3>
              <p>Descripcion: {{proyecto.descripcion}} </p>
              <h4>Fecha de Inicio: {{proyecto.fecha_realizacion}}</h4>
              <h4>Direccion: <a href="{{proyecto.url_proyecto}}"></a>{{proyecto.url_proyecto}}</h4>
            </div>
          </div>
      <!-- Modal eliminar -->
          <div tabindex="-1" data-bs-toggle="modal" data-bs-target="#deleteProyectoModal" class="modal fade" id="deleteProyectoModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteProyectoModalLabel">Eliminar Proyecto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
               <div class="modal-body">
                  Estas seguro que quieres eliminar el proyecto {{eliminarProyecto?.nombre}}?
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button (click)="eliminarproyecto(eliminarProyecto?.id)" type="button" class="btn btn-danger">Si</button> -->
                </div>
              </div>
            </div>
          </div>
      <!-- Modal editar -->
      <div class="modal fade" id="editProyectoModal" tabindex="-1" aria-labelledby="editProyectoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="editProyectoModalLabel">Editar proyecto</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form #editForm="ngForm">
                <div class="form-group">
                    <label for="nombre"> Nombre Proyecto</label>
                    <input type="text" ngModel="{{actualizarProyecto?.nombre}}" name="nombre" class="form-control" id="nombre" placeholder="Titulo" required/>
                  </div>
                  <input type="hidden" ngModel="{{actualizarProyecto?.id}}" name="id" class="form-control" id="id" placeholder=""/>
                  <div class="form-group">
                      <label for="descripcion"> Descripcion </label>
                      <input type="text" ngModel="{{actualizarProyecto?.descripcion}}" name="descripcion" class="form-control" id="descripcion" placeholder="descripcion" required/>
                    </div>
                    <div class="form-group">
                      <label for="url_proyecto"> Url de Proyecto</label>
                   <input type="text" ngModel="{{actualizarProyecto?.url_proyecto}}" name="url_proyecto" class="form-control" id="url_proyecto" placeholder="url_proyecto" required/>
                    </div>                    
                  <div class="form-group">
                    <label for="fecha_realizacion"> Fecha de realización</label>
                    <input type="date" ngModel="{{actualizarProyecto?.fecha_realizacion}}" name="fecha_realizacion" class="form-control" id="fecha_realizacion" placeholder="fecha_realizacion" required/>
                  </div>
                  <div class="form-group">
                    <label for="imagen_proyecto"> URL de Imagen del proyecto</label>
                    <input type="text" ngModel="{{actualizarProyecto?.imagen_proyecto}}" name="imagen_proyecto" class="form-control" id="imagen_proyecto" placeholder="imagen_proyecto">
                  </div>
            </form>                
            </div>
            <div class="modal-footer">
              <button type="button" id="update-experiencia-form" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button (click)="actualizarproyecto(editForm.value)" type="submit" class="btn btn-primary">Actualizar</button>
            </div>
          </div>
        </div>
      </div>
        </li>
      </ul>
    </section>
</div>
